@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #f5f5f5;
}

header {
    background: linear-gradient(90deg, #49bad9, #06e8cd);
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    height: 150px;
    align-items: center;
    font-size: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}

.hero {
    background: url('/public/img/Portada-hogar.webp') center/cover no-repeat;
    background-size: auto 100%;
    color: white;
    text-align: center;
    padding: 80px 20px;
    height: 400px;
}

.hero button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: #ff914d;
    color: white;
    cursor: pointer;
}

.pets {
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pets h2 {
    margin-bottom: 20px;
    font-size: 4rem;
    background: linear-gradient(to right, #49bad9, #330867);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
    margin-top: 20px;
}

.card {
    font-size: 1.8rem;
    display: flex;
    padding-top: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    width: 600px;
    height: 600px;
}

.img{
    background-color: #ededed;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #49bad9;
    width: 90%;
    height: 80%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.img img{
    border-radius: 50%;
    box-shadow: 10px 10px 10px;
    width: 300px;
    height: 300px;
}

.info{
    font-size: 2rem;
    background: linear-gradient(to right, #49bad9, #330867);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    height: 100px;
    font-size: 2rem;
}