
body{
    background-color: white;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 35px;
}

.centrado{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

li{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 27px;
    text-align: left;
}

.design{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form{
    text-align: center;
    font-size: 25px;
}


button{
    padding: 0.5%;
    border-radius: 15cm;
    padding-inline: 3%;
    font-size: 20px;
    background: linear-gradient(red, blue);
    color: white;
}