<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/pets.webp" type="image/x-icon">
    <link rel="stylesheet" href="/src/css/pets.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>Pets</title>
</head>
<body>
    <header class="main">
        <div class="logo">
            <img src="/public/img/pets.webp" alt="Logo">
        </div>
    </header>
    <section class="inicio">
        <h2>Mascotas</h2>
        <p>Lista de mascotas disponibles para adopción.</p>
    </section>
    <section class="images">
        <div class="pet">
            <a href="/public/img/perro.webp" target="_blank"><img src="/public/img/perro.webp" alt="imagen-perro"></a>
            <p>Perro</p>
            <article><p>Este es un perro adorable que necesita un hogar.</p></article>
        </div>
        <div class="pet">
            <a href="/public/img/gato.webp" target="_blank"><img src="/public/img/gato.webp" alt="imagen-gato"></a>
            <p>Gato</p>
            <article><p>Este es un gato cariñoso que necesita un hogar.</p></article>
        </div>
        <div class="pet">
            <a href="/public/img/como-ensenar-hablar-loro.webp" target="_blank"><img src="/public/img/como-ensenar-hablar-loro.webp" alt="imagen-loro"></a>
            <p>Loro</p>
            <article><p>Este es un loro inteligente que necesita un hogar.</p></article>
        </div>
        <div class="pet">
            <a href="/public/img/pexels-sharon-snider-4520484-1.webp" target="_blank"><img src="/public/img/pexels-sharon-snider-4520484-1.webp" alt="imagen-hamster"></a>
            <p>Hamster</p>
            <article><p>Este es un hamster juguetón que necesita un hogar.</p></article>
        </div>
        <div class="pet">
            <a href="/public/img/conejo.webp" target="_blank"><img src="/public/img/conejo.webp" alt="imagen-conejo"></a>
            <p>Conejo</p>
            <article><p>Este es un conejo dulce que necesita un hogar.</p></article>
        </div>
        <div class="pet">
            <a href="/public/img/goldfish.webp" target="_blank"><img src="/public/img/goldfish.webp" alt="imagen-goldfish"></a>
            <p>Goldfish</p>
            <article><p>Este es un goldfish que necesita un hogar.</p></article>
        </div>

    </section>
</body>
</html>