<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/pets.webp" type="image/x-icon">
    <link rel="stylesheet" href="/src/css/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <title>Pets</title>
</head>
<body>
    <header class="main">
        <nav>
        <a href="/index.html">Go to home</a>
        
        </nav>
        <nav class="logo">
            <img src="/public/img/pets.webp" alt="Logo">
            <h2>Adopt Me Now</h2>
        </nav>
    </header>
    <section>
        <h2>Mascotas</h2>
        <p>Lista de mascotas disponibles para adopción.</p>
    </section>
    <section class="images">
        <a href="/public/img/perro.webp" target="_blank"><img src="/public/img/perro.webp" alt="imagen-perro"></a>
        <p>Perro</p>
        <a href="/public/img/gato.webp" target="_blank"><img src="/public/img/gato.webp" alt="imagen-gato"></a>
        <p>Gato</p>
    </section>
</body>
</html>