<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <style>
        body{
            background: #081b29;
        }
    </style>
</head>
<body>
    <div class="projects">

        <h1>My projects</h1>
        <ul>
            <li><strong>Inventory System -> <a href="https://github.com/villalobosandres989-source/Sistema_de_inventario_basico">Go To Project</a></li></strong></li>
        </ul>

    </div>
</body>
</html>