#sect h1{
    font-size: 6rem;
    text-align: center;
    margin-bottom: 5rem;

}

.form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

input, textarea{
    min-width: 50%;
    align-self: center;
    min-height: 3em;
    border-radius: 15px;
    padding: 0 0 0 1%;
    max-width: 25%;
    max-height:3em;
    font-size: 2.5rem;
}
button{
    margin: 2% 0 2% 0;
    height: 4em;
    width: 20%;
    cursor: pointer;
    align-self: center;
    color: #ededed;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 0.5rem 1rem;
    background-color: #00bbff;
    border-radius: 15px;
    transition: 0.3s ease;
}

button:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 35px #00bbff;
}