#projects{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background-color: rgb(0, 0, 0);
    padding: 5rem 6%;
    min-height: 100vh;
    border-bottom: 3px solid #00bbff;

}

.project-card{
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 1rem;
    margin-top: 2%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(60, 59, 59, 0.5);
    width: 33%;
    max-height: 30vh;
    min-height: 30vh;
    font-size: 2.5rem;
}


.projects-grid{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    height: 20%;
    flex-wrap: wrap;
}

.projects-grid a{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #00bbff;
    color: white;
    border-radius: 5px;
    transition: 0.3s ease;
}

.projects-grid a:hover{
    background-color: #00bbff;
    box-shadow: 0 0 15px #00bbff;
    transform: scale(1.1);
}

#projects h1{
    margin-bottom: 5rem;
    font-size: 6rem;
    text-align: center;
}