*{
    font-family: "Ubuntu" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-color: #00abf0 #000000;
}


body{
    background: #010a10;
    color: #ededed;
}


span{
    color: #00abf0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a{
    color: #ededed;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 2px 1px 5px;

}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    text-shadow: 2px 1px 5px;
}

.navbar a:hover{
    color: #00abf0;
}

.aboutme{
    
    display: flex;
    align-items: center;
    padding: 0 10%;
    margin-top: 15%;
    justify-content: space-between;
}

.aboutme-content{
    max-width: 900px;
    font-weight: 600;
}

.aboutme-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #00abf0;
    text-shadow: 2px 1px 5px;
}

.aboutme-content p{
    font-size: 23px;
}

.projects{
    height: 444px;
    background-color: #061031;
    border-radius: 20%;
    gap: 2rem;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    font-size: 35px;
    
}

.lista{
    padding-left: 20px;
}

.imagen img{
    width: 60%;
    
}

.dividido{
    text-align: center;
}

.inventario{
    background-color: rgb(191, 203, 199);
    padding-top: 0.5px;
    width: 300px;
    height: 180px;
    margin-left: 50px;
    border-radius: 12%;
    text-align: center;
    color: black;
}

.inventario p{
    font-size: 20px;
    color: black;
    padding-top: 10%;
}

.inventario a{
    padding: 12%;
    background: linear-gradient(black, white);
    padding-bottom: 5%;
    padding-top: 5%;
    border-radius: 30%;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.inventario a:hover{
    color: #de3d07;
}

