*{
    font-family: "Ubuntu" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-color: #00abf0 #000000;
}


body{
    background-color: #010a10;
    color: #ededed;
}


span{
    color: #00abf0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a{
    color: #ededed;
}

.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 2px 1px 5px;

}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    text-shadow: 2px 1px 5px;
}

.navbar a:hover{
    color: #00abf0;
}

#aboutme{
    
    display: flex;
    align-items: center;
    padding: 10% 15%;
    margin-top: 5%;
    justify-content: space-between;
    box-shadow: 0 2px 1px #00abf0;
}

.aboutme-content{
    max-width: 900px;
    font-weight: 600;
}

.aboutme-content h1{
    font-size: 56px;
    font-weight: 700;
    color: #00abf0;
    text-shadow: 2px 1px 5px;
}

.aboutme-content p{
    font-size: 23px;
}

#projects{
    height: 444px;
    box-shadow: 0 0 10px #00abf0;
    border-radius: 5%;
    gap: 2rem;
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    font-size: 35px;
    
    }

.lista{
    padding-left: 20px;
}

.imagen img{
    width: 60%;
    margin-left: 25%;
    
}

.dividido{
    text-align: center;
    color: #ededed;
}

.dividido h2{
    font-size: 40px;
}

.inventario{
    padding-top: 0.5px;
    box-shadow: 0 0 10px #00abf0;
    width: 300px;
    height: 250px;
    margin-left: 50px;
    border-radius: 12%;
    text-align: center;
    color: #ededed;
}

.inventario p{
    font-size: 20px;
    color: #ededed;
    padding-top: 10%;
    padding-bottom: 10%;
}

.inventario a{
    padding: 12%;
    box-shadow: 0 0 10px #00abf0;
    border-radius: 20%;
    background-color: #00abf0;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.inventario a:hover{
    color: #de3d07;
}
input{
    height: 20px;
    border: none;
    background-color: #010a10;
    border-bottom: 1px solid gray;
    margin-bottom: 3%;
    padding-bottom: 3%;
}
.contacto{
    
}

#contact{
    height: 300px;
    border-top: 2px solid #00abf0;
    padding-top: 2%;
    justify-items: center;
}
